<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <title>Angular App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
  <body ng-controller="mainCtrl as vm" class="container">
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="https://twiki.cern.ch/twiki/pub/HardwareLabs/HardwareLabsPublic/TechLab/logo-techlab.png" width="30" height="30" class="d-inline-block align-top" alt="techlab">
            TechLab: AngularJS 1.6.1 practise 
        </a>
    </nav>
    <h3>2e2:</h3>
    <h1>Input Text: {{vm.hello}}</h1>
    <input type="text" class="form-control" name="" id="" placeholder="" ng-model="vm.hello">

    <hr>

    <p>Search by value:</p>
    <input type="text" ng-model="vm.search">
    <h3>List of fruits:</h3>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="fruit in vm.fruits | filter: vm.search">{{fruit | makePlural}}</li>
      <button type="submit" class="btn btn-primary" ng-click="vm.alertMe()">Submit</button>
    </ul>

    <hr>
    <posts-list></posts-list>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>

    <script src="./posts-list/posts-list-component.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
